@model Battlezeppelins.Models.Data
@{
    var userExists = Model.player != null;
    var userName = userExists ? Model.player.name : "<You don't exist>";
    ViewBag.Title = "Battle Area";
}
@section featured {
    <section>
        <div>
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            @if (userExists) {
            <p>
                 Your name is @userName
            </p>
            }
        </div>
    </section>
}
<div>
    @if (!userExists)
    {
        <h4>You need a name</h4><br />
        <p style="color:#E52E2E">@ViewBag.Error</p>
        <form action="Home" method="post">
            Name: <input type="text" id="registrationName" name="registrationName" autofocus />
            <input type="submit" value="Register" />
        </form>
				<script>
					$("#registrationName").focus();
				</script>	
    } else {
        <div class="row">
          <div class="col-xs-9">
            @Html.Partial("ChatBox")
          </div>         
          <div class="col-xs-3">
            @Html.Partial("UserList")
            @Html.Partial("ChallengeInbox")
          </div>
        </div>
    }
</div>
