<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Battlezeppelins</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css/bootstrap.min.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
				@Scripts.Render("~/bundles/jqueryui-touch-punch")
				@Scripts.Render("~/bundles/bootstrap")

        <script>
          var poller = window.setInterval(function () {
            $.getJSON('@Url.Content("~/Poll/UpdateLastSeen")', function (data) { });
          }, 5000);
        </script>
        <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }
        .game table {
					margin-left:auto;
					margin-right:auto;
          width:400px;
        }
        .game td { 
          height:40px;
        }
        .game button {
          width:40px;
          height:40px;
          padding:0px;
        }
        .gameEnemy {
          position:relative;
          padding-left:50px;
        }
        .gameEnemy table {
          width:500px;
        }
        .gameEnemy td { 
          height:40px;
        }
        .gameEnemy button {
          width:50px;
          height:40px;
          padding:0px;
        }
        .gameOwn {
          position:relative;
          top:-200px;
          width:600px;

          perspective:1500px;
          -webkit-perspective:1500px; /* Safari and Chrome */
        }
        .gameOwn2 {
          animation-duration: 4s;
          animation-name: changePos;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 4s;
          -webkit-animation-name: changePos;
          -webkit-animation-fill-mode: forwards;
        }
        @@-moz-keyframes changePos {
          0% { transform: rotate(0deg) scale(.4);}
          100% { transform: rotateX(60deg) scale(1);}
        }
        @@-webkit-keyframes changePos {
          0% { -webkit-transform: rotate(0deg) scale(.4);}
          100% { -webkit-transform: rotateX(60deg) scale(1);}
        }
        .gameOwn table {
          width:600px;
        }
        .gameOwn td { 
          height:60px;
        }
        .gameOwn button {
          width:60px;
          height:60px;
          padding:0px;
        }
        .usedSlot {
          background-image: url('/images/redcross.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size:contain;
        }
				.hitSlot {
          background-image: url('/images/hit.png');
          background-repeat:no-repeat;
          background-position:center;
          background-size:contain;
        }
        </style>
    </head>
    <body>
        <header>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
							<div class="container">
								@{var navClass = new { @class = "navbar-brand" };}
								@Html.ActionLink("Battlezeppelins", "Index", "Home", navClass)

								<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								
								<div class="collapse navbar-collapse navHeaderCollapse">
									<ul class ="nav navbar-nav navbar-right">
										<li>@Html.ActionLink("Home", "Index", "Home", navClass)</li>
										<li>@Html.ActionLink("About", "About", "Home", navClass)</li>
										<li>@Html.ActionLink("Game", "Game","Home", navClass)</li>
										<li class="dropdown">
											<a href="#" class ="dropdown-toggle navbar-brand" data-toggle="dropdown">
												Contribute <b class="caret"></b>
											</a>
											<ul class ="dropdown-menu">
												<li><a href="https://github.com/Mikuz/Battlezeppelins" class="navbar-brand">Code</a></li>
												<li><a href="https://github.com/Mikuz/Battlezeppelins/issues" class="navbar-brand">Issues</a></li>
												<li><a href="https://github.com/Mikuz/Battlezeppelins/fork" class="navbar-brand">Fork</a></li>
											</ul>
										</li>
									</ul>
								</div>
            </div>
        </header>
        <div id="body" class="container well" style="padding-top: 70px;">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
          <!-- :( go away! -->
        </footer>
    </body>
</html>
